[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
xhtml2pdf = "*"
reportlab = "*"
fpdf = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.13"
